<ul class="sidebar-nav list-group">
  <li class="list-group-item"><a href="{% url 'task_manager:index' %}">Home page</a></li>
  <li class="list-group-item"><a href="{% url 'task_manager:worker-list' %}">All workers</a></li>
  <li class="list-group-item"><a href="{% url 'task_manager:task-list' %}">All tasks</a></li>
  <li class="list-group-item"><a href="{% url 'task_manager:position-list' %}">All position</a></li>
  <li class="list-group-item"><a href="{% url 'task_manager:task-type-list' %}">All task-types</a></li>
</ul>
