{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section class="section section-lg bg-gray-50 py-5" id="pricing">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-12 col-lg-4" style="margin-left: 80px">
            <p>
              <a href="{% url 'task_manager:project-update' project_id=project.id %}?next={{request.path}}"
              type="submit"
              class="btn btn-warning">UPDATE
            </a>
            <a href="{% url 'task_manager:project-delete' project_id=project.id %}"
              type="submit"
              class="btn btn-danger">DELETE
            </a></p>
            <h2>
              Project: {{ project.name }} <span>
              </span>
            </h2>
            <p>Deadline: {{ project.deadline }}</p>
            <p>
              Is completed: {{ project.is_completed }}
            </p><a href="{% url 'task_manager:task-create' project_id=project.pk %}?next={{request.path}}"
              type="submit"
              class="btn btn-success">ADD TASK
            </a>
          </div>
          <div class="col-12 col-lg-4 " style="margin-right: 80px">
            {% if project.assignees %}
               <br>
                <p style="color: #0a53be">
                  Team: {{ project.assignees.count }} assignee{{ project.assignees.count|pluralize }}
                </p>
                {% for worker in project.assignees.all %}
                    <p>
                      {{ worker.position }} - {{ worker.last_name }} {{ worker.first_name }}
                    </p>
                {% endfor %}
            {% else %}
              <p>No team</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  <br>
    <section class="section section-lg bg-gray-50 py-5" id="pricing">
        <div>
          <h5 class="text-uppercase text-primary letter-spacing-3">
            Project: {{ project.name }}
          </h5>
          <p class="lead text-muted mb-4 ">
            Description: {{ project.description }} </p>
      </div>
      <div>
      <div>
      <form style="padding-left: 10px" action="{% url 'task_manager:project-detail' project_id=project.id %}" method="get">      <h4>Filter</h4>
          <div class="d-flex">
            <div class="form-group">
              <label for="priority">Priority:</label>
              <select name="priority" id="priority" class="form-control">
                <option value="" {% if not request.GET.priority %}selected{% endif %}>All</option>
                <option value="Low" {% if request.GET.priority == "Low" %}selected{% endif %}>Low</option>
                <option value="Urgent" {% if request.GET.priority == "Urgent" %}selected{% endif %}>Urgent</option>
                <option value="High" {% if request.GET.priority == "High" %}selected{% endif %}>High</option>
                <option value="Normal" {% if request.GET.priority == "Normal" %}selected{% endif %}>Normal</option>
              </select>
            </div>

            <div class="form-group">
                <label for="task_type">Type</label>
                <select name="task_type_id" id="task_type" class="form-control">
                    <option value="" {% if not request.GET.task_type_id %}selected{% endif %}>All</option>
                    {% for task_type in task_types %}
                        <option value="{{ task_type.pk }}" {% if request.GET.task_type_id|stringformat:"s" == task_type.pk|stringformat:"s" %}selected{% endif %}>{{ task_type.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
              <label for="is_completed">Is Completed</label>
              <select name="is_completed" id="is_completed" class="form-control">
                  <option value="" {% if not request.GET.is_completed %}selected{% endif %}>All</option>
                  <option value="true" {% if request.GET.is_completed == "true" %}selected{% endif %}>Yes</option>
                  <option value="false" {% if request.GET.is_completed == "false" %}selected{% endif %}>No</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Apply Filter</button>
        </form>
        <br>
        <form style="padding-left: 10px" action="{% url 'task_manager:project-detail' project_id=project.id %}" method="get" class="form-inline">
          <div class="input-group">
            {{ search_form|crispy }}
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">🔎</button>
            </div>
          </div>
        </form>
        <div style="padding-left: 10px; padding-right: 10px" class="col-12 col-lg-12">
          <div class="card card-table">
             <div class="card-header">
                 <div class="tools dropdown"> <span class="icon mdi mdi-download"></span><a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"><span class="icon mdi mdi-more-vert"></span></a>
                   <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                     <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                     </div>
                   </div>
               <div class="title">Purchases</div>
             </div>
                <div class="card-body table-responsive">
                    {% if filtered_tasks %}
                      <table class="table table-striped table-borderless">
                        <thead>
                          <tr>
                            <th>Task Type</th>
                            <th style="padding-left: 40px">Task</th>
                            <th style="padding-left: 40px">Deadline</th>
                            <th>Is completed</th>
                            <th>Priority</th>
                            <th style="padding-left: 40px">UPDATE</th>
                            <th style="padding-left: 40px">DELETE</th>
                          </tr>
                        </thead>
                        {% for task in filtered_tasks %}
                          <tbody class="no-border-x">
                            <tr>
                              <td>{{ task.task_type }}</td>
                              <td>
                                <a style="color: #0a6f4d; text-decoration: underline" href="{% url 'task_manager:task-detail' project_id=project.id pk=task.id %}">
                                  {{ task.name }}
                                </a>
                              </td>
                              <td>{{ task.deadline }}</td>
                              {% if task.is_completed is True %}
                                <td class="text-success">{{ task.is_completed }}</td>
                              {% else %}
                                <td class="text-danger">{{ task.is_completed }}</td>
                              {% endif %}
                              <td>{{ task.priority }}</td>
                              <td>
                                  <a type="button"
                                     class="btn btn-warning"
                                     href="{% url 'task_manager:task-update' project_id=project.id pk=task.id %}">
                                    UPDATE
                                  </a>
                              </td>
                              <td>
                                <a type="button"
                                   class="btn btn-danger"
                                   href="{% url 'task_manager:task-delete' project_id=project.id pk=task.id %}">
                                  DELETE
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        {% endfor %}
                      </table>
                </div>
             </div>
        </div>
            {% block pagination %}
              {% include "includes/pagination.html" %}
            {% endblock %}
                  {% else %}
                    <p>The are no tas in project.</p>
                  {% endif %}
    </section>



{% endblock %}
