{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task List
    <a href="{% url 'task_manager:task-create' %}">
      +
    </a>
  </h1>
  <div>
    <form method="GET">
      <h4>Filter</h4>
      <div class="d-flex">
        <div class="form-group">
          <label for="priority">Priority:</label>
          <select name="priority" id="priority" class="form-control">
              <option value="">All</option>
              <option value="Low">Low</option>
              <option value="Urgent">Urgent</option>
              <option value="High">High</option>
              <option value="Normal">Normal</option>
          </select>
      </div>
      <div class="form-group">
          <label for="task_type">Type</label>
          <select name="task_type" id="task_type" class="form-control">
              <option value="">All</option>
              {% for task_type in task_types %}
                  <option value="{{ task_type.pk }}">{{ task_type.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group">
            <label for="is_completed">Is Completed</label>
            <select name="is_completed" id="is_completed" class="form-control">
                <option value="">All</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>
  </div>
  <br>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>

  {% if task_list %}
    <table class="table">
      <tr>
        <th>Task Type</th>
        <th>Task</th>
        <th>Deadline</th>
        <th>Is completed</th>
        <th>Priority</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
    {% for task in task_list %}
      <tr>
        <td>{{ task.task_type }}</td>
        <td><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.is_completed }}</td>
        <td>{{ task.priority }}</td>
        <td>
          <a href="{% url "task_manager:task-update" pk=task.id %}">UPDATE</a>
        </td>
        <td>
          <a href="{% url "task_manager:task-delete" pk=task.id %}">DELETE</a>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}

  {% else %}
    <p> The are no task in company </p>
  {% endif %}

{% endblock %}
