{% extends "base.html" %}

{% block content %}
  <h1>
    Worker List
    <a href="{% url 'task_manager:worker-create' %}"
      type="submit"
         class="btn btn-success"
        style="height: 40px">ADD WORKER
      </a>
  </h1>
  <div class="col-12 col-lg-12">
    <div class="card card-table">
       <div class="card-header">
           <div class="tools dropdown"> <span class="icon mdi mdi-download"></span><a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"><span class="icon mdi mdi-more-vert"></span></a>
             <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
               <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
               </div>
             </div>
         <div class="title">Workers</div>
       </div>
          <div class="card-body table-responsive">
              {% if worker_list %}
                <table  class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th style="width:20%;">Position </th>
                      <th style="width:15%;">Username </th>
                      <th style="width:30%; padding-left: 90px">Name</th>
                      <th style="width:15%; padding-left: 50px">UPDATE</th>
                      <th style="width:15%; padding-left: 50px">DELETE</th>
                    </tr>
                  </thead>
                  {% for worker in worker_list %}
                    <tbody class="no-border-x">
                      <tr>
                        <td>{{ worker.position }}
                        </td>
                        <td ><a href="#">{{ worker.username }}</a></td>
                        <td>{{ worker.last_name }} {{ worker.first_name }}</td>
                        <td>
                          <a type="button" class="btn btn-warning" href="{% url "task_manager:worker-update" pk=worker.id %}">UPDATE</a>
                        </td>
                        <td>
                          <a type="button" class="btn btn-danger" href="{% url "task_manager:worker-delete" pk=worker.id %}">DELETE</a>
                        </td>
                      </tr>
                    </tbody>
                  {% endfor %}
                </table>
          </div>
       </div>

    </div>
        {% block pagination %}
          {% include "includes/pagination.html" %}
        {% endblock %}

    {% else %}
       <p>  The are no worker in company</p>
    {% endif %}

{% endblock %}
