{% extends "base.html" %}
{% block content %}
  <h1>
    My profile ({{ worker.username }})
    <span>
          <a href="{% url "task_manager:worker-accounts-update" pk=worker.id %}">UPDATE</a>
    </span>
  </h1>
  <p>{{ worker.last_name }} {{ worker.first_name }}
    - {{ worker.position }}</p>
  <p>Now: {% now "Y-m-d H:i:s" %}</p>
  <div>
    <p>MY PROJECTS:</p>
    {% if worker.projects %}
      {% for project in worker.projects.all %}
        <h3>PROJECT: {{ project.name }}</h3>
        <p>MY TASK: </p>
        {% for task in project.tasks.all %}

          {% if worker in task.assignees.all %}
            <div>
              <p>Task name: {{ task.name }}, Task type: {{ task.task_type }}
                <span><a href="{% url 'task_manager:task-detail' project_id=project.id pk=task.id %}">
                  Task detail</a></span>
              </p>
            </div>

          {% endif %}
        {% endfor %}
        <br>
      {% endfor %}
    {% else %}
      <p> No task </p>
    {% endif %}
  </div>

{% endblock %}
